/*
 Theme Name:   UnderStrap BUILDER Genesis
 Theme URI:    https://understrap.com/builder/
 Description:  Lightweight and fast loading while giving you massive control over how it looks without having to touch any code.
 Author:       UnderStrap - Gerardo Gonzalez
 Author URI:   https://understrap.com
 Template:     understrap
 Version:      1.0.0
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  understrap-builder
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
*/
